{% if gtmKey is defined and gtmKey is not null %}{% spaceless %}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ gtmKey }}');</script>
<!-- End Google Tag Manager -->
{%endspaceless%}{% endif %}
{% spaceless %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% if tagList['title'] is defined %}
    <title>{{ tagList['title'] }} - {{ seo_base_title_suffix|default(ezpublish.configResolver.parameter('SiteSettings.SiteName')) }}</title>
{% endif %}
{% if tagList['canonical'] is defined %}
    <link rel="canonical" href="{{ tagList['canonical'] }}">
{% endif %}
{% if tagList['viewport'] is defined %}
    <meta name="viewport" content="{{ tagList['viewport'] }}">
{% endif %}

{% if tagList['keywords'] is defined %}
    <meta name="keywords" content="{{ tagList['keywords'] }}">
{% endif %}
{% if tagList['description'] is defined %}
    {% set text = tagList['description']|striptags %}
    {% set cleanText = text|replace({'&amp;': '','nbsp;': ' '}) %}
    <meta name="description" content="{{ cleanText|slice(0, 157) }}{% if cleanText|length > 156 %}... {% endif %} ">
{% endif %}
{% if tagList['og_title'] is defined %}
    <!--FACEBOOK-->
    <meta property="og:title" content="{{ tagList['og_title'] }}">
    <meta property="twitter:title" content="{{ tagList['og_title'] }}">
    {% elseif tagList['title'] is defined %}
        <meta property="og:title" content="{{ tagList['title'] }}">
        <meta property="twitter:title" content="{{ tagList['title'] }}">
{% endif %}
{% if tagList['og_site_name'] is defined %}
    <meta property="og:site_name" content="Site Name">
{% endif %}
{% if tagList['og_url'] is defined %}
    <meta property="og:url" content="{{ tagList['og_url'] }}">
{% endif %}
{% if tagList['og_description'] is defined %}
    <meta property="og:description" content="{{ tagList['og_description'] }}">
    <meta property="twitter:description" content="{{ tagList['og_description']  }}">
    {% elseif tagList['description'] is defined %}
        <meta name="og:description" content="{{ cleanText|slice(0, 157) }}{% if cleanText|length > 156 %}... {% endif %} ">
        <meta property="twitter:description" content="{{ cleanText|slice(0, 157) }}{% if cleanText|length > 156 %}... {% endif %} ">
    {% endif %}
{% if tagList['og_image'] is defined and tagList['og_image'] is not empty and tagList['og_image'] is not null %}
    <meta property="og:image" content="{{ asset(tagList['og_image']) }}">
    <meta property="twitter:image" content="{{ asset(tagList['og_image']) }}">
    {% if tagList['og_image_width'] is defined and tagList['og_image_width'] is not empty and tagList['og_image_width'] is not null %}
        <meta property="og:image:width" content="{{ tagList['og_image_width']}}">
    {% endif %}
    {% if tagList['og_image_height'] is defined and tagList['og_image_height'] is not empty and tagList['og_image_height'] is not null %}
        <meta property="og:image:height" content="{{ tagList['og_image_height']}}">
    {% endif %}
{% endif %}
{% if tagList['fb_app_id'] is defined %}
    <meta property="fb:app_id" content="{{ tagList['fb_app_id'] }}">
{% endif %}
{% if tagList['og_type'] is defined %}
    <meta property="og:type" content="{{ tagList['og_type'] }}">
{% endif %}
{% if tagList['og_locale'] is defined %}
    <meta property="og:locale" content="{{ tagList['og_locale'] }}">
{% endif %}

    <meta property="twitter:card" content="summary">

{% if tagList['twitter_title'] is defined %}
    <meta property="twitter:title" content="{{ tagList['twitter_title'] }}">
{% endif %}
{% if tagList['twitter_description'] is defined %}
    <meta property="twitter:description" content="{{ tagList['twitter_description'] }}">
{% endif %}
{% if tagList['twitter_creator'] is defined %}
    <meta property="twitter:creator" content="{{ tagList['twitter_creator'] }}">
{% endif %}
{% if tagList['twitter_url'] is defined %}
    <meta property="twitter:url" content="{{ tagList['twitter_url'] }}">
{% endif %}
{% if tagList['twitter_image'] is defined %}
    <meta property="twitter:image" content="{{ tagList['twitter_image'] }}">
{% endif %}
{% if tagList['twitter_image_alt'] is defined %}
    <meta property="twitter:image:alt" content="{{ tagList['twitter_image_alt'] }}">
{% endif %}
{% if tagList['author'] is defined %}
    <!--GOOGLE+-->
    <link rel="author" href="{{ tagList['author'] }}">
{% endif %}
{% if tagList['publisher'] is defined %}
    <link rel="publisher" href="{{ tagList['publisher'] }}">
{% endif %}
{%endspaceless%}